@import url('https://fonts.googleapis.com/css2?family=Domine&family=Mountains+of+Christmas:wght@400;700&display=swap');
body{
    background-image: url(../images/support/hatter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Domine', serif;
    
}

nav{
    position:unset;
    margin-bottom: 30px;
}

footer{
    margin-top: 30px;
    padding-bottom: 10px;
}



h1, h2, h3{
    text-align: center;
}

h1, h2{
    margin-top: 10px;
}

input[type='checkbox'] { 
    margin-left: 5px;
}


@media only screen and (max-width: 767px){
    nav{
        background-color: rgba(46, 138, 86, 1);
    }
}